*
!/bin
!/bin/winws
!/bin/winws/cygwin1.dll
!/bin/winws/ip2net.exe
!/bin/winws/killall.exe
!/bin/winws/mdig.exe
!/bin/winws/WinDivert.dll
!/bin/winws/WinDivert64.sys
!/bin/winws/winws.exe
!/bin/elevate.vbs
!/config
!/config/windivert.filter
!/config/windivert.filter/README.txt
!/config/windivert.filter/windivert_part.discord_media.txt
!/config/windivert.filter/windivert_part.quic_initial_ietf.txt
!/config/windivert.filter/windivert_part.stun.txt
!/config/windivert.filter/windivert_part.wireguard.txt
!/config/custom.txt.example
!/config/lists.txt
!/config/params.txt
!/config/payloads.txt
!/config/variants.csv
!/lists
!/lists/ipset-custom.txt.example
!/lists/ipset-exclude.txt
!/lists/list-custom.txt.example
!/lists/list-discord.txt
!/lists/list-exclude.txt
!/lists/list-exclude-custom.txt.example
!/lists/list-youtube.txt
!/payloads
!/payloads/quic_initial_vk_com.bin
!/payloads/quic_initial_www_google_com.bin
!/payloads/quic_short.bin
!/payloads/tls_clienthello_4pda_to.bin
!/payloads/tls_clienthello_iana_org.bin
!/payloads/tls_clienthello_max_ru.bin
!/payloads/tls_clienthello_www_google_com.bin
!/.github
!/.github/workflows
!/.github/workflows/release.yml
!/.gitignore
!/cliff.toml
!/README.md
!/zapret-winws-kodx.cmd
