windscribe.com
*.windscribe.com
windscribe.net
*.windscribe.net
linkedin.com
*.linkedin.com
proton.me
*.proton.me
protonvpn.com
rutracker.org
rutracker.cc
*.rutracker.cc
matrix.org
*.matrix.org
hdrezka.me
rezka.ag
deploy.totallyacdn.com
metal-archives.com
ntc.party
*.ntc.party
metacritic.com